/* --- Fonts --- */

@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,700&display=swap');

/* --- Generel Styling --- */

:root{ 
    --clr-moss-0:rgb(159, 187, 109, 0.7);
    --clr-moss-1: rgb(117, 139, 77, 0.7); 
    --clr-moss-2: rgb(117, 139, 77, 1);

    --clr-forest-0: rgb(67, 110, 60, 0.7);
    --clr-forest-1: rgb(67, 110, 60, 1);
    --clr-forest-2: rgb(57, 93, 51, 1);

    --clr-bg-dark-0: rgb(34, 34, 34, 0.9);
    --clr-bg-dark-1: rgb(34, 34, 34, 1);
    
    --clr-bg-grey-1: rgb(44, 42, 42, 1);
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', 'san-serif';
    line-height: 1.2;
    color: #fff;
}

h1{
    font-size: 1rem;
    text-transform: uppercase;
    margin: 15px auto;
}

h2{
    font-family: 'Source Serif Pro';
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

h3{
    font-size: 1.5rem;
    text-transform: uppercase;
}

h4{
    font-size: 1.125rem;
}

p{
    font-family: 'PT Sans Narrow', 'san-serif';
    font-size: 1rem;
    line-height: 1.5;
}

h3,
h4,
p{
    margin-bottom: 10px;
}

a{
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

section{
    padding: 4rem 0 ;
}

header,
.banner-content,
.bio-area,
.skills-area,
.work-area,
.work-area-2,
.contact-area,
.end-text,
.container{
    margin-inline: auto;
    width: min(80%, 90rem);
}

.split{
    display: flex;
    flex-direction: column;
}

.bg-dark{
    background: var(--clr-bg-dark-1);
}

.bg-grey{
    background: var(--clr-bg-grey-1);
}

/* --- Generel Styling (Desktop) --- */

@media(min-width: 1000px){
    h2{
        font-size: 2.75rem;
    }
    h3{
        font-size: 1.875rem;
    }
    h4{
        font-size: 1.375rem;
    }
    p{
        font-size: 1.125rem;
    }
    h3,
    h4,
    p{
        margin-bottom: 20px;
    }
    .split{
        flex-direction: row;
    }
    .split > *{
        flex-basis: 100%;
    }
    .split > * + *{
        margin-left: 5em;
    }
    section{
        padding: 7rem 0 ;
    }
}

/* --- Header + navbar --- */

header{
    background: var(--clr-bg-dark-0);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    line-height: 2;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--clr-bg-dark-0);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top ;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    text-decoration: none;
    opacity: 0;
    transition: opacity 200s ease-in-out;
}

nav a:hover{
    color: var(--clr-moss-2);
}

.nav-check:checked ~ nav{
    transform: scale(1,1);
}

.nav-check:checked ~ nav a{
    opacity: 1;
    transition: opacity 300ms ease-in-out 300ms;
}

.nav-check{
    display: none;
}

.nav-toggler{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggler span,
.nav-toggler span::before,
.nav-toggler span::after{
    display: block;
    background: #fff;
    height: 3px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after{
    content: '';
    position: absolute;
}

.nav-toggler span::before{
    bottom: 7px;
}

.nav-toggler span::after{
    top: 7px;
}

/* --- Header + navbar (Desktop) --- */ 

@media(min-width: 960px){
    .nav-toggler{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: 7em auto minmax(550px, 1fr) 7em;
    }
    .logo{
        grid-column: 2 / 3;
    }
    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;
    }
    nav li{
        margin-left: 4em;
        margin-bottom: 0;
    }
    nav a{
        opacity: 1;
        position: relative;
    }
    nav a:before{
        content: '';
        display: block;
        height: 2px;
        background: var(--clr-moss-2);
        position: absolute;
        bottom: -0.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform ease-in-out 300ms;
    }
    nav a:hover::before{
        transform: scale(1,-1);
    }
}

/* --- Banner --- */

.banner-area{
    width: 100%;
    height: auto;
    background-image: url('../image/image1.jpg');
    background-size: cover;
}

.banner-content{
    padding-top: 10vh;
    text-align: center;
}

.banner-content h4{
    margin-bottom: 40px;
}

.banner-btn button{
    width: 200px;
    height: 45px;
    border: none;
    font-family: 'Montserrat', 'san-serif';
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: var(--clr-moss-0);
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
}

.banner-btn button:hover{
    color: #fff;
    cursor: pointer;
}

.banner-btn button:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    border-radius: 10px;
    background: var(--clr-moss-1);
}

.banner-btn button:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* --- Content --- */

/* About me */

.bio-area img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* Skills */

.skills-area h3{
    text-align: center;
    margin-bottom: 40px;
}

.skills-area .box{
    position: relative;
    height: 300px;
    background: var(--clr-bg-dark-1);
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.skills-area .box .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-bg-dark-1);
    transition: 0.5s;
    z-index: 1;
}

.skills-area .box:hover .icon{
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;  
}

.skills-area .box .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
}

.skills-area .box:hover .icon i{
    font-size: 40px;
}

.skills-area .box .text{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px); 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.skills-area .box:hover .text{
    top: 100px; 
    opacity: 1;
}

/* Work */

.work-area p,
.work-area-2 p{
    margin-bottom: 30px;
}

.work-area img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.work-area img{
    margin-top: 0px;
}

.work-area-2 img{
    margin-bottom: 40px;
}

.work-area-2 image{
    margin-bottom: 40px;
}

.work-area ul li,
.work-area-2 ul li{
    list-style: none;
    font-size: 0.6rem;
    margin-bottom: 30px;
}

.work-area ul li i,
.work-area-2 ul li i{
    margin-right: 20px;
}

.btn button{
    width: 200px;
    height: 45px;
    margin-top: 40px;
    border: none;
    font-family: 'Montserrat', 'san-serif';
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: var(--clr-forest-0);
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
}

.btn button:hover{
    color: #fff;
    cursor: pointer;
}

.btn button:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    border-radius: 10px;
    background: var(--clr-forest-2);
}

.btn button:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* Contact */

.contact-area img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.contact-info p{
    margin-bottom: 40px;
}

.contact-info ul li{
    list-style: none;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.contact-info ul li i{
    margin-right: 10px;
}

/* --- Content (Desktop) --- */

@media(min-width: 1000px){
    .bio-area img{
        margin-bottom: 0;
    }
    .work-area img{
        margin-top: 0;
    }
    .contact-info ul li,
    .work-area ul li,
    .work-area-2 ul li{
        font-size: 1.125rem;
    }
    .work-area p,
    .work-area-2 p{
    margin-bottom: 50px;
    }

    .work-area ul li,
    .work-area-2 ul li{
    margin-bottom: 40px;        
    }
}

/* --- Footer --- */

footer{
    text-align: center;
}

.social i{
    font-size: 1.4rem;
    margin: 40px 16px;
}

footer p{
    font-size: 1rem;
    padding-bottom: 40px;
}

/* --- Side pages --- */

/* Animation */

.btn-link button{
    width: 200px;
    height: 45px;
    border: none;
    font-family: 'Montserrat', 'san-serif';
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: var(--clr-forest-0);
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}

.btn-link button:hover{
    color: #fff;
    cursor: pointer;
}

.btn-link button:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    border-radius: 10px;
    background: var(--clr-forest-2);
}

.btn-link button:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.sprite {
    width: 500px;
    height: 500px;
    background: url('../image/png/outdoor.png') 0 0 no-repeat;
    animation: play 6s steps(60) infinite;
}

@keyframes play {
    0%{background-position: 0px;}
    100%{background-position: -30000px;}
}

@media(min-width: 1000px){
    .btn-link button{
        margin-bottom: 0;
    }
}


/* Portfolio */

.portfolio h3{
    text-align: center;
    margin-bottom: 40px;
}

.portfolio .container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .container > div > img{
    width: 100%;
    height: auto;
}

.portfolio .container{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    grid-auto-rows: auto; 
}  